---
import { getCollection } from "astro:content";
import FilterByTag from "@components/FilterByTag.astro";
import Link from "@ui/Link.astro";
import BlogCard from "@components/BlogCard.astro";
import ArrowRightIcon from "@assets/icons/arrow-right.svg";

const { homepage, title, filter } = Astro.props;

type Props = { homepage: boolean; title: string; filter?: string };

let data = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

if (homepage) {
    data = data.slice(0, 2);
}

// filter by tags on the url params
if (filter) {
    data = data.filter(
        (item) =>
            item.data.tags &&
            item.data.tags.some((tag) => filter.includes(tag)),
    );
}
---

<section id="blog" class="space-y-12">
    {homepage ? <h2>{title}</h2> : <h1 class="text-center">{title}</h1>}

    {!homepage && <FilterByTag collection="blog" />}

    <ol class="grid gap-16 md:grid-cols-2">
        {
            data.map((item) => (
                <li>
                    <BlogCard item={item} />
                </li>
            ))
        }
    </ol>

    <!--if this component is rendered on the homepage, then render the link to all projects-->
    {
        homepage && (
            <div class="grid justify-end">
                <Link
                    variant="outline"
                    class="group space-x-2"
                    href="/blog"
                    size="lg"
                >
                    <span>See more</span>
                    <ArrowRightIcon
                        class="transition-transform group-hover:translate-x-2"
                        width={18}
                        height={18}
                    />
                </Link>
            </div>
        )
    }
</section>
