---
import { getPostsTags } from "@lib/blog-collection";
import { getProjectTags } from "@lib/project-collection";
import Link from "@ui/Link.astro";
import type { CollectionKey } from "astro:content";
import TagsIcon from "@assets/icons/tags.svg";

type Props = {
    collection: CollectionKey;
};

const { collection } = Astro.props;
const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g)?.pop();

let tags: {
    tag: string;
}[] = [];

if (collection === "projects") {
    tags = await getProjectTags();
} else if (collection === "blog") {
    tags = await getPostsTags();
}
---

<div class="flex items-center">
    <ul class="flex flex-wrap items-center gap-4 md:gap-2">
        <li>
            <TagsIcon width={30} height={30} />
        </li>
        <li>
            <Link
                variant="link"
                class={`relative ${collection === subpath && "text-primary-foreground hover:text-primary-foreground"} `}
                href={`/${collection}`}
            >
                All
                {
                    collection === subpath && (
                        // If the current path match the name of the tag, then render the link bg
                        <div
                            class="bg-primary absolute inset-0 -z-10 rounded-3xl"
                            transition:name="filter-btn"
                        />
                    )
                }
            </Link>
        </li>

        {
            tags.map((tag) => (
                <li>
                    <Link
                        variant="link"
                        class={`relative ${tag.tag === subpath && "text-primary-foreground hover:text-primary-foreground"} `}
                        href={`/${collection}/tag/${tag.tag}`}
                    >
                        #{tag.tag}
                        {tag.tag === subpath && (
                            // If the current path match the name of the tag, then render the link bg
                            <div
                                class="bg-primary absolute inset-0 -z-10 rounded-3xl"
                                transition:name="filter-btn"
                            />
                        )}
                    </Link>
                </li>
            ))
        }
    </ul>
</div>
