---
import type { HTMLAttributes } from "astro/types";
import Link from "./ui/Link.astro";
import type { Locale } from "@lib/translations";

interface Props extends Omit<HTMLAttributes<"a">, "lang"> {
    href: string;
    lang?: Locale;
}

const { href, lang, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname ||
    href === "/" + subpath?.[0] ||
    (lang !== "en" && pathname.includes(href));
---

<div class="relative isolate grid h-16 items-center">
    <Link
        variant="link"
        href={href}
        lang={lang}
        class={`relative px-0 ${isActive && "text-primary"}`}
        {...props}
    >
        <slot />
    </Link>
</div>
