---
import Link from "@ui/Link.astro";
import ArrowRightIcon from "@assets/icons/arrow-right.svg";
import ArrowRightUpIcon from "@assets/icons/arrow-right-up.svg";
import { getTranslations, type Locale } from "@lib/translations";

export interface Props {
    lang: Locale;
}

const { lang } = Astro.props;
const t = getTranslations(lang);
---

<section>
    <div class="mt-16 flex flex-col justify-center gap-8">
        <!--text-->
        <div class="space-y-2">
            <p class="animate-fade text-2xl font-bold">{t.hero.name}</p>
            <h1 class="animate-fade-up-500">
                {t.hero.title}
                <span class="text-muted-foreground"> {t.hero.subtitle}</span>
            </h1>
        </div>

        <!--call to action-->
        <div
            class="flex w-full flex-col gap-8 sm:flex-row sm:items-center sm:justify-between"
        >
            <div class="flex gap-4">
                <Link
                    variant="outline"
                    size="lg"
                    href="https://github.com/jaycem-dev"
                >
                    <span>Github</span>
                    <ArrowRightUpIcon width={20} height={20} />
                </Link>

                <Link
                    class="group"
                    href={"mailto:" + import.meta.env.EMAIL}
                    size="lg"
                >
                    <span>{t.hero.contact}</span>
                    <ArrowRightIcon
                        class="transition-transform group-hover:translate-x-1"
                        width={20}
                        height={20}
                    />
                </Link>
            </div>
        </div>
    </div>
</section>
