---
import FilterByTag from "@components/FilterByTag.astro";
import { filterProjectsByTag, getProjects } from "@lib/project-collection";
import ProjectCard from "@components/ProjectCard.astro";
import Link from "@ui/Link.astro";
import ArrowRightIcon from "@assets/icons/arrow-right.svg";

const { homepage, filter, title } = Astro.props;

type Props = {
    homepage: boolean;
    title: string;
    // filter by tag
    filter?: string;
};

let data = await getProjects(homepage);

// if a filter is passed as prop, then filter
if (filter) {
    data = filterProjectsByTag(data, filter);
}
---

<section id="projects" class="space-y-12">
    {homepage ? <h2>{title}</h2> : <h1 class="text-center">{title}</h1>}

    {!homepage && <FilterByTag collection="projects" />}

    <div class="grid gap-8 md:grid-cols-2">
        {data.map((project) => <ProjectCard item={project} />)}
    </div>

    <!--if this component is rendered on the homepage, then render the link to all projects-->
    {
        homepage && (
            <div class="grid justify-end">
                <Link
                    variant="outline"
                    class="group space-x-2"
                    href="/blog"
                    size="lg"
                >
                    <span>See more</span>
                    <ArrowRightIcon
                        class="transition-transform group-hover:translate-x-2"
                        width={18}
                        height={18}
                    />
                </Link>
            </div>
        )
    }
</section>
