---
import Link from "@ui/Link.astro";
import TagsIcon from "@assets/icons/tags.svg";

type Props = {
    tags: string[];
    type: "blog" | "projects";
};

const { tags, type } = Astro.props;
---

<ul class="flex flex-wrap items-center gap-2">
    <li>
        <TagsIcon width={30} height={30} />
    </li>
    {
        tags.map((tag) => (
            <li>
                <Link
                    variant="secondary"
                    size="sm"
                    href={`/${type}/tag/${tag}`}
                >
                    #{tag}
                </Link>
            </li>
        ))
    }
</ul>
