---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import "@fontsource-variable/jetbrains-mono"; // font
import { render } from "astro:content";
import Article from "@components/Article.astro";
import Tags from "@components/Tags.astro";
import placeholder from "@assets/projects/placeholder.webp";

export async function getStaticPaths() {
    const item = await getCollection("projects", ({ id }) => {
        // Filter to only Spanish content (in es/ subfolder)
        return id.startsWith("es/");
    });
    const paths = item.map((item) => ({
        params: { id: item.id.replace("es/", "") },
        props: item,
    }));

    return paths;
}
type Props = CollectionEntry<"projects">;

const item = Astro.props;

const { Content } = await render(item);
---

<Layout title={item.data.title + " | Jaycem"} lang="es">
    <section class="mx-auto max-w-6xl space-y-16">
        <!--header title-->
        <div class="space-y-8 text-center">
            <p transition:name={"project-category" + item.id}>
                {item.data.category}
            </p>
            <h1 transition:name={"project-title" + item.id} class="title">
                {item.data.title}
            </h1>

            <p transition:name={"project-desc" + item.id}>
                {item.data.description}
            </p>

            <!--tags-->
            <div class="grid justify-center">
                <Tags tags={item.data.tags} type="projects" lang="es" />
            </div>
        </div>

        <!--image-->
        <div
            class="rounded-3xl bg-linear-to-tr from-zinc-50 to-zinc-100 dark:from-zinc-950 dark:to-zinc-900"
        >
            <Image
                src={item.data.image ? item.data.image : placeholder}
                alt=""
                class="aspect-video w-full rounded-3xl object-cover"
                transition:name={"project-image" + item.id}
                loading="eager"
                format="avif"
                widths={[640, 768, 1024, 1500]}
                sizes={`
                    (max-width: 640px) 640px, 
                    (max-width: 768px) 768px, 
                    (max-width: 1024px) 1024px, 
                    (max-width: 1280px) 1500px`}
            />
        </div>
    </section>

    <Article>
        <Content />
    </Article>
</Layout>
