---
import Layout from "@/layouts/Layout.astro";
const lang = Astro.currentLocale === "es" ? "es" : "en";
---

<Layout title="404" lang={lang}>
    <div class="py-16 text-center">
        <h1>404</h1>
        <h2>NOT FOUND</h2>
    </div>
</Layout>
