---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import "@/styles/globals.css";
import { ClientRouter } from "astro:transitions";
import "@fontsource-variable/inter"; // font
import type { Locale } from "@lib/translations";

interface Props {
    title: string;
    lang: Locale;
}
const { title, lang } = Astro.props;
---

<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script is:inline>
            const theme = (() => {
                if (
                    typeof localStorage !== "undefined" &&
                    localStorage.getItem("theme")
                ) {
                    return localStorage.getItem("theme");
                }
                if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    return "dark";
                }
                return "light";
            })();

            if (theme === "light") {
                document.documentElement.classList.remove("dark");
            } else {
                document.documentElement.classList.add("dark");
            }

            window.localStorage.setItem("theme", theme);
        </script>
    </head>
    <body class="bg-background text-foreground">
        <Navbar lang={lang} />
        <ClientRouter fallback="swap" />

        <main class="container min-h-[80vh] space-y-28 pt-20 pb-40">
            <slot />
        </main>

        <Footer />
    </body>
</html>
